<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 开启下划线转驼峰 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--
            一级缓存 / 本地缓存 配置
            配置缓存作用范围: SESSION 会话 / STATEMENT 语句
         -->
        <setting name="localCacheScope" value="SESSION"/>
        <!-- 二级缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!--
            启动 Jdbc3KeyGenerator 主键配置
            <setting name="useGeneratedKeys" value="true"/>
         -->

    </settings>
    <typeAliases>
        <package name="xyz.fusheng.code.springboot.model.model.entity"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="xyz.fusheng.code.springboot.model.tools.orm.mybatis.MybatisCountInterceptorTest">
            <property name="preInfo" value="本次查询记录数目"/>
        </plugin>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- POOLED 池化数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://42.192.222.62:33307/code-springboot-model?serverTimezone=GMT%2B8&amp;useUnicode=true&amp;characterEncoding=utf8&amp;rewriteBatchedStatements=true"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/SysUserMapper.xml"/>
        <mapper resource="mapper/ModelMapper.xml"/>
    </mappers>
</configuration>