<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.fusheng.code.springboot.model.core.mapper.ModelMapper">

    <!-- 命名空间缓存共享 -->
    <!--<cache-ref namespace=""/>-->

    <!-- resultMap 支持继承 -->
    <!-- resultMap 继承关系的解析又 ResultMapResolver 类来完成 -->
    <resultMap id="model1Map" type="xyz.fusheng.code.springboot.model.model.entity.Model" autoMapping="false">
        <id property="id" column="id" javaType="Long" jdbcType="BIGINT" typeHandler="org.apache.ibatis.type.BigIntegerTypeHandler"/>
        <result property="modelName" column="model_name" />
        <discriminator javaType="int" column="is_enabled">
            <case value="1" resultMap="model1Map" />
            <case value="0" resultMap="model2Map" />
        </discriminator>
    </resultMap>

    <resultMap id="model2Map" type="xyz.fusheng.code.springboot.model.model.entity.Model" extends="model1Map">
        <result property="remark" column="remark" />
    </resultMap>

    <!-- SQL 片段 -->
    <sql id="byModelName">
        and model_name = #{modelName}
    </sql>

    <!-- 入参映射处理 ParameterMap ParameterMapping  -->
    <parameterMap id="modelParam01" type="xyz.fusheng.code.springboot.model.model.entity.Model">
        <parameter property="modelName" javaType="String" />
    </parameterMap>

    <select id="selectModelByModelName" resultType="xyz.fusheng.code.springboot.model.model.entity.Model">
        select * from code_model where 1 = 1 <include refid="byModelName" />
    </select>

    <select id="customPage" resultType="xyz.fusheng.code.springboot.model.model.entity.Model">
        select * from code_model
        where model_name regexp #{pageDto.modelName}
    </select>

    <select id="selectModelByIdOrModelName" resultType="xyz.fusheng.code.springboot.model.model.entity.Model">
        select id, model_name from code_model
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="modelName != null">
                or model_name = #{modelName}
            </if>
        </where>
    </select>

</mapper>
